<%- include('../../components/header.ejs'); %>
    <%- include('../../components/navbar.ejs'); %>
        <div class="container">
            <hr>
            <h2>Artigos</h2>
            <a href="/admin/articles/new" class=" btn btn-success">Criar novo artigo</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article=>{%>
                        <tr>
                            <th>
                                <%= article.id %>
                            </th>
                            <th>
                                <%= article.title %>
                            </th>
                            <th>
                                <%= article.slug %>
                            </th>
                            <th>

                            </th>
                            <th>
                                <a class=" btn btn-warning" href="/admin/articles/edit/<%=article.id %> ">
                                    Editar
                                </a>

                                <form action="/article/delete" method="POST" style="display:inline;"
                                    onsubmit="confirmationDelete(event, this)">

                                    <input type="hidden" name="id" value="<%=article.id%> ">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>

                        <% }) %>
                </tbody>
            </table>
        </div>

        <%- include('../../components/footer.ejs'); %>